html,
body {
  height: 100%;
  position: relative;
}

body {
    background-image: url("../assets/images/pexels-photo-purpleandgreen.jpeg");
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gotu", sans-serif;
}

.containerWhole {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* jumbotron style */
.jumbotron {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #756382;
  opacity: 90%;
}

.jumbotron h1,
p {
  opacity: none;
  color: White;
}
.lead {
  color: white;
  width: 60%;
}
/* wrapper */
.wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Monday - Sunday column card style */
.card {
  max-width: 170px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  margin-right: 25px;
  transition: 0.2s ease-in-out;
  /* border-radius: 10%; */
  box-shadow: 3px 3px 3px 3px rgb(20, 5, 32);
}

.card .card-header {
  width: 100%;
  height: 80px;
  border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  opacity: 70%;
  color: #ffffff;
  background-color: #f9bb9d;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.col-1.card .card-header {
  background-image: url("../assets/images/icons8-monday-80.png");
}

.col-2.card .card-header {
  background-image: url("../assets/images/icons8-tuesday-80.png");
}

.col-3.card .card-header {
  background-image: url("../assets/images/icons8-wednesday-80.png");
}

.col-4.card .card-header {
  background-image: url("../assets/images/icons8-thursday-80.png");
}

.col-5.card .card-header {
  background-image: url("../assets/images/icons8-friday-80.png");
}

.col-6.card .card-header {
  background-image: url("../assets/images/icons8-saturday-80.png");
}

.col-7.card .card-header {
  background-image: url("../assets/images/icons8-sunday-80.png");
}

.card .card-body {
  padding: 20px;
}

.card .card-body h2,
p {
  font-size: large;
  margin-bottom: 5px;
}

/* search bar */
.whole-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  
}
.search-wrapper {
  width: 50%;
  display: flex;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgb(20, 5, 32);
  opacity: 80%;
  background-color: #e2c274;
}
h3{
  
  font-size: xx-large;
}
#search {
  font-size: x-large;
}
.searchButton {
  background-image: url("../assets/images/icons8-search-100.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 15px 30px 15px 30px;
  opacity: 80%;
  background-color: #e2c274;
  /* border: black 3px solid; */
  border-radius: 10%;
  box-shadow: 3px 3px 3px 3px rgb(20, 5, 32);
  justify-content: center;
  display: flex;
  align-items: center;
}
.input {
  border-radius: 2px;
  border: 0;
  outline: 0;
  transition: 0.25s ease-in-out all;
  width: 0;
  padding: 0;
  margin-right: -25px;
  opacity: 95%;
  background-color: #e2c274;
  color: black;
}
.input-open {
  width: 30vw;
  padding: 0 10px;
  margin-right: 10px;
}

/* recipe results (pop out or new box?) */
#output {
  background-color: rgba(0, 0, 0, 0.2); 
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  /* justify-content: center; */
  margin: 0 auto;
}
.item {
    flex: 1 1 150px;
    padding: 10px;
    /* width: 32%; */
}
.stick {
    position: relative;
    bottom: 0;
}

/* selected recipe (pop out or box) */
/* restaurant search */
.restSearch {
  background: scroll;
  background-color: #f9bb9d; 
  width: 100%;
  display: flex;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}
.input-restaurant {
    border-radius: 2px;
    border: 0;
    outline: 0;
    transition: 0.25s ease-in-out all;
    width: 0;
    padding: 0;
    margin-right: -25px;
    opacity: 95%;
    background-color: #e2c274;
    color: black;
  }
.input-open-restaurant {
    width: 30vw;
    padding: 0 10px;
    margin-right: 10px;
  }
.searchButtonRestaurant {
    background-image: url("../assets/images/icons8-search-100.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px 30px 15px 30px;
    opacity: 80%;
    background-color: #e2c274;
    /* border: black 3px solid; */
    border-radius: 10%;
    box-shadow: 3px 3px 3px 3px rgb(20, 5, 32);
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .even-odd button{
    align-content: center;
    background-color: white;
    padding: 5px 15px 5px 15px;
    opacity: 80%;
    /* border: black 3px solid; */
    border-radius: 10%;
    box-shadow: 3px 3px 3px 3px rgb(20, 5, 32);
    justify-content: center;
    display: block;
    margin: 0;
    /* align-items: center; */
  }

/* sticky footer */
.footer {
  flex-shrink: 0;
  background-color: #756382;
  color: lightslategray;
  /* height: 40px; */
  text-align: center;
  opacity: 60%;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
}

/* desktop layout until Breakpoint 1 */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}
/* breakpoint 1 */
@media (max-width: 1500px) {
  .wrapper,
  .jumbotron {
    flex-wrap: wrap;
  }
}
/* breakpoint 2 */
@media (max-width: 700px) {
  .wrapper {
    flex-wrap: wrap;
  }
}
/* breakpoint 3 */
@media (max-width: 480px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 0;
    margin-bottom: 25px;
    width: 100%;
  }
  .col-3 {
    margin-bottom: 0;
  }
}
/* breakpoint 4 */
@media (max-width: 375px) {
  .card {
    max-width: 100%;
  }
}

/* accordion tabs */
.accordion {
  max-width: 40px;
}
.tabs {
  margin: 5px 0;
}
.tab-heading {
  background-color: #756382;
  opacity: 90%;
  padding: 5px;
  border-radius: 2px;
  font-size: 5em;
  cursor: pointer;
  display: block;
  color: #f3f3f3;
}
.tab-heading h2 {
  pointer-events: none;
}
.tab-content {
  overflow-y: hidden;
  max-height: 0;
}
.tab-content p {
  margin: 20px;
}
.accordion.tabs input {
  display: none;
}
input:checked + .tab-heading {
  border-radius: 2px 2px 0 0;
}
input:checked ~ .tab-content {
  max-height: 100px;
  border-radius: 0 0 2px 2px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

